fastapi
uvicorn
streamlit
sqlalchemy
requests
python-multipart
langchain
langchain-community
langchain-openai
faiss-cpu
python-dotenv
redis>=5.0,<7
rq>=2.8,<3
unstructured
nbformat
autogen-agentchat==0.7.5
autogen-core==0.7.5
autogen-ext[openai]==0.7.5
langchain-text-splitters
